<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


</head>

<body style="background-color: #f8f9fa">

<!--Шапка-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark static-top">

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <a style="color: white;text-align: left;">
                        <strong>
                            <th:block th:each="user:${activeUser}" th:text="${activeUser.getUsername()}"></th:block>
                        </strong>
                        <th:block th:each="user:${activeUser}"
                                  th:text="'with roles: '+ ${activeUser.getRolesView}"></th:block>
                    </a>
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--Левая панель-->

    <br>
    <div class="row">
        <div class="col-md-2" style="background-color: white">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/info">User</a>
                </li>

            </ul>
        </div>


        <!--Правая панель-->
        <div class="col-md-10">
            <!--Заголовок страницы-->
            <div class="page-header">
                <h2>
                    Admin panel
                </h2>
            </div>
            <!--Панель навигации-->

            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin/new">New user</a>
                </li>

            </ul>

            <!--            Заголовок таблицы-->
            <h5 style="margin: 10px">
                All users
            </h5>

            <!--Таблица-->
            <table class="table table-hover" style="background-color: white">
                <!--Шапка таблицы-->
                <thead>

                <tr>
                    <th style="text-align: center;"> ID</th>
                    <th style="text-align: center;"> First Name</th>
                    <th style="text-align: center;"> Last Name</th>
                    <th style="text-align: center;"> Age</th>
                    <th style="text-align: center;"> Email</th>
                    <th style="text-align: center;"> Role</th>
                    <th style="text-align: center;"> Edit</th>
                    <th style="text-align: center;"> Delete</th>
                </tr>
                </thead>
                <!--Тело таблицы-->
                <tbody>
                <!--Строки с информацией о юзере-->
                <tr th:each="user:${users}">
                    <td th:text="${user.getId()}" style="text-align: center;">ID</td>
                    <td th:text="${user.getFirstName()}" style="text-align: center;"> Admin name</td>
                    <td th:text="${user.getLastName()}" style="text-align: center;"> Admin LastName</td>
                    <td th:text="${user.getAge()}" style="text-align: center;"> Admin age</td>
                    <td th:text="${user.getUsername()}" style="text-align: center;"> Admin Email</td>
                    <td th:text="${user.getRolesView()}" style="text-align: center;"> Role</td>

                    <!--Форма для изменения юзера-->

                    <td style="text-align: center">
                        <button class="btn btn-info" data-toggle="modal"
                                th:attr="data-target='#editModal'+${user.getId()}">Edit
                        </button>
                        <div th:attr="id='editModal'+${user.getId()}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!--Шапка модального окна-->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Edit user</h4>
                                        <button class="close" data-dismiss="modal">x</button>
                                    </div>
                                    <!---Тело модального окна-->
                                    <div align="center">
                                        <form th:method="PATCH"
                                              th:action="@{admin/user-update/{id}(id=${user.getId()})}"
                                              th:object="${user}">
                                            <div class="modal-body" align="center">Здесь будет форма
                                                <div class="col-7">

                                                    <div class="form-group">
                                                        <strong><label
                                                                for="id">ID</label></strong>
                                                        <input name="id" readonly
                                                               type="number"
                                                               th:value="${user.getId()}"
                                                               id="id" placeholder="ID"
                                                               class="form-control">
                                                        <strong><label for="firstName">First
                                                            name</label></strong>
                                                        <input name="firstName"
                                                               type="text"
                                                               th:value="${user.getFirstName()}"
                                                               id="firstName"
                                                               placeholder="First name"
                                                               class="form-control">
                                                        <strong><label for="lastName">Last
                                                            name</label></strong>
                                                        <input name="lastName"
                                                               type="text"
                                                               th:value="${user.getLastName()}"
                                                               id="lastName"
                                                               placeholder="Last name"
                                                               class="form-control">
                                                        <strong><label for="age">Age
                                                        </label> </strong>
                                                        <input name="age"
                                                               type="number"
                                                               th:value="${user.getAge()}"
                                                               class="form-control"
                                                               id="age"
                                                               placeholder="Enter Age" required>
                                                        <strong><label
                                                                for="username">Email</label></strong>
                                                        <input name="username" type="text"
                                                               th:value="${user.getUsername()}"
                                                               id="username"
                                                               placeholder="Email"
                                                               class="form-control">
                                                        <strong><label for="password">Password
                                                        </label> </strong>
                                                        <input name="password"
                                                               type="password"
                                                               th:value="${user.getPassword()}"
                                                               class="form-control"
                                                               id="password"
                                                               placeholder="Enter Password">
                                                        <strong><label for="roles">Role
                                                        </label> </strong>
                                                        <select class="custom-select"
                                                                size="3"
                                                                multiple name="role"
                                                                id="roles" required>
                                                            <option value="ROLE_ADMIN">ADMIN</option>
                                                            <option selected value="ROLE_USER">USER</option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <!---Подвал модального окна-->
                                                <div class="modal-footer">
                                                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    <button class="btn btn-primary" type="submit">Edit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </td>


                    <!--Форма для удаления юзера-->
                    <td style="text-align: center">
                        <button class="btn btn-danger" data-toggle="modal"
                                th:attr="data-target='#deleteModal'+${user.getId()}">Delete
                        </button>
                        <div th:attr="id='deleteModal'+${user.getId()}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!--Шапка модального окна-->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete user</h4>
                                        <button class="close" data-dismiss="modal">x</button>
                                    </div>
                                    <!---Тело модального окна-->
                                    <div align="center">
                                        <form th:method="DELETE"
                                              th:action="@{/admin/{id}(id=${user.getId()})}"
                                              th:object="${user}">
                                            <div class="modal-body" align="center">Здесь будет форма
                                                <div class="col-7">

                                                    <div class="form-group">
                                                        <strong><label
                                                                for="id">ID</label></strong>
                                                        <input name="id" readonly
                                                               type="number"
                                                               th:value="${user.getId()}"
                                                               id="id" placeholder="ID"
                                                               class="form-control">
                                                        <strong><label for="firstName">First
                                                            name</label></strong>
                                                        <input name="firstName" readonly
                                                               type="text"
                                                               th:value="${user.getFirstName()}"
                                                               id="firstName"
                                                               placeholder="First name"
                                                               class="form-control">
                                                        <strong><label for="lastName">Last
                                                            name</label></strong>
                                                        <input name="lastName" readonly
                                                               type="text"
                                                               th:value="${user.getLastName()}"
                                                               id="lastName"
                                                               placeholder="Last name"
                                                               class="form-control">
                                                        <strong><label for="age">Age
                                                        </label> </strong>
                                                        <input name="age" readonly
                                                               type="number"
                                                               th:value="${user.getAge()}"
                                                               class="form-control"
                                                               id="age"
                                                               placeholder="Enter Age" required>
                                                        <strong><label
                                                                for="username">Email</label></strong>
                                                        <input name="username" type="text" readonly
                                                               th:value="${user.getUsername()}"
                                                               id="username"
                                                               placeholder="Email"
                                                               class="form-control">
                                                        <strong><label for="password">Password
                                                        </label> </strong>
                                                        <input name="password" readonly
                                                               type="password"
                                                               th:value="${user.getPassword()}"
                                                               class="form-control"
                                                               id="password"
                                                               placeholder="Enter Password">
                                                        <strong><label for="roles">Role readonly
                                                        </label> </strong>
                                                        <select class="custom-select" disabled
                                                                size="3"
                                                                multiple name="role"
                                                                id="roles" required>
                                                            <option value="ROLE_ADMIN">ADMIN</option>
                                                            <option value="ROLE_USER">USER</option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <!---Подвал модального окна-->
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" data-dismiss="modal">Close
                                                    </button>
                                                    <button class="btn btn-danger" type="submit" value="DELETE">Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>




