<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<br>
<br>
<div style="text-align: center;"><h1> Welcome to Home Page! </h1></div>
<br>
<br>
<div style="text-align: center;"><h1> Please <a th:href="@{/login}">authority to continue</a>  </h1></div>

<br>
<br>

<div style="text-align: center;"><h3> *Login and Password to default: "admin" </h3></div>

</body>
</html>